:9001 {
	log

	reverse_proxy /* {
		to alloy:12345
	}

	reverse_proxy /faro {
		to alloy:8027
		rewrite /collect
	}

	reverse_proxy /otlp_grpc/* {
		to alloy:4317
	}

	reverse_proxy /otlp_http/* {
		to alloy:4318
	}
}
